@import "variables";

.button {
    outline: 0 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    border: none;
    border-bottom: 4px solid darken($color: $orange, $amount: 12%);
    cursor: pointer;
    color: #FFFFFF;
    background-color: $orange;

    &:hover,
    &:focus {
        background-color: lighten($color: $orange, $amount: 5%);
        outline: 0 !important;
    }

    &:active {
        outline: 0 !important;
        background-color: darken($color: $orange, $amount: 5%);
        padding-top: 0.875rem;
        padding-bottom: 0.625rem;
    }

    &::-moz-focus-inner {border:0;}
}


