/*
** Index.scss differs from other .scss files within this
** project as it serves as a global style sheet while other
** .scss files have a respective component they belong to
*/

* {
    margin: 0;
    background: #771bff;
    color: #ffffff;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}




