@import "./../../../variables";

.navContent {
    .navLink {
        text-decoration: none;
    }

    .navLink:first-of-type {
        margin-right: 20px;
    }
}

.activeLink {
    font-weight: bold;
}

@media (max-width: $breakpoint-width-s) {
    .navLink {
        font-size: 13px;
    }
}

